@import "tailwindcss";

@theme {
  --color-brand-yellow: #facc15;
  --color-brand-dark: #0a0a0a;
  --color-brand-gray: #171717;

  --animate-fade-in: fade-in 0.5s ease-out;
  --keyframes-fade-in: fade-in {from {opacity: 0; transform: translateY(10px) ;}
    to {opacity: 1; transform: translateY(0) ;}};
}

body {
  background-color: var(--color-brand-dark);
  color: white;
  font-family: var(--font-sans);
  overflow-x: hidden; 
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #171717;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #facc15;
}
